extends ../layout

block content
  div#article-wrapper
    h1#title= article.title

    div.md!= encode(article.body)

    p
      a(href=article.url+'/delete') Delete
    p
      a(href=article.url+'/update') Update