* {
  color: black;
  box-sizing: border-box;
}
.MathJax {
  font-size: 1.3em !important;
}
ul {
  list-style-type: disc;
}
p {
  font-family: Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.2em;
}
#article-wrapper {
  width: 55%;
  margin: 60px auto 0;
}