* {
  color: black;
  box-sizing: border-box;
}
.MathJax {
  font-size: 1.3em !important;
}
ul {
  list-style-type: disc;
}
p {
  font-family: Arial, Helvetica, sans-serif;
}
#title {
  font-size: 2em;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.3em;
}
h3 {
  font-size: 1.1em;
}
h4 {
  font-size: 0.7em;
}
h5 {
  font-size: 0.4em;
}
h6 {
  font-size: 0.1em;
}
#article-wrapper {
  width: 55%;
  margin: 60px auto 0;
}